<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div>
        @Html.ActionLink("Registrarse", "Register", "Account")|
        @Html.ActionLink("Login", "Login", "Account")|
        @Html.ActionLink("Lista de vuelos", "Index", "Vuelo")|
        @Html.ActionLink("Boletos", "Index", "Boleto")|
        @Html.ActionLink("Dar alta a cliente", "Create", "Cliente")|
        @if (WebSecurity.CurrentUserId != -1)
        {
            @Html.ActionLink("Desloguearse", "Logout", "Account");
        }
        @if (WebSecurity.CurrentUserId != -1)
        {
            <div class="text-right">Nombre de usuario: @Html.Label(WebSecurity.CurrentUserName)</div>
        }
        @RenderBody()
    </div>
</body>
</html>
