@model IEnumerable<TF_Base.Models.Cliente>

@{
    ViewBag.Title = "Index";
    Layout = "../_LayoutAero.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered">
    <tr>
        <th>
            Username
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dni)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dni)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.dni  }) |
            @Html.ActionLink("Details", "Details", new {  id=item.dni  }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.dni })
        </td>
    </tr>
}

</table>
