@model EstacionamientoMVC.Models.tipoDeVehiculo

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>tipoDeVehiculo</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.idTipo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.idTipo)
            @Html.ValidationMessageFor(model => model.idTipo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nombre)
            @Html.ValidationMessageFor(model => model.nombre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.tarifa)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.tarifa)
            @Html.ValidationMessageFor(model => model.tarifa)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

