@model TF_Base.Models.Registro

@{
    ViewBag.Title = "Register";
    Layout = "../_LayoutLogin.cshtml";
}

<h2>Registrarse</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Nuevo usuario</legend>

        <div class="editor-label">
            @Html.LabelFor(f => f.UserName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(f => f.UserName)
            <br />
            @Html.ValidationMessageFor(f => f.UserName,null, new {@class="text-danger" })
        </div>
        <div class="editor-label">
            @Html.LabelFor(f => f.Nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(f => f.Nombre)
            <br />
            @Html.ValidationMessageFor(f => f.Nombre,null, new {@class="text-danger" })
        </div>

        <div class="editor-label">
            @Html.LabelFor(f => f.Apellido)
        </div>
        <div class="editor-field">
            @Html.EditorFor(f => f.Apellido)
            <br />
            @Html.ValidationMessageFor(f => f.Apellido,null, new {@class="text-danger" })
        </div>

        <div class="editor-label">
            @Html.LabelFor(f => f.Dni)
        </div>
        <div class="editor-field">
            @Html.EditorFor(f => f.Dni)
            <br />
            @Html.ValidationMessageFor(f => f.Dni,null, new {@class="text-danger" })
        </div>
        <div class="editor-label">
            @Html.LabelFor(f => f.UserEmail)
        </div>
        <div class="editor-field">
            @Html.EditorFor(f => f.UserEmail)
            <br />
            @Html.ValidationMessageFor(f => f.UserEmail,null, new {@class="text-danger" })
        </div>

        <div class="editor-label">
            @Html.LabelFor(f => f.Password)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(f => f.Password)
            <br />
            @Html.ValidationMessageFor(f => f.Password,null, new {@class="text-danger" })
        </div>

        <div class="editor-label">
            @Html.LabelFor(f => f.PasswordConfirmation)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(f => f.PasswordConfirmation)
            <br />
            @Html.ValidationMessageFor(f => f.PasswordConfirmation,null, new {@class="text-danger" })
        </div>

        <br />
        <input class="btn btn-primary" type="submit" value="Registrarse" />
    </fieldset>
}

