@model IEnumerable<TF_Base.Models.Vuelos>

@{
    ViewBag.Title = "Index";
    Layout = "../_LayoutEmpleado.cshtml";
}

<h2>Lista de vuelos</h2>

<p>
    @if (Roles.IsUserInRole("EncargadoAerolinea"))
    {
        @Html.ActionLink("Agregar vuelo", "Create", null, new { @class = "btn btn-default" })
    }
</p>
<table class="table table-striped">
    <tr>
<<<<<<< HEAD
        <th>Aerolinea
        </th>
        <th>Lugar de origen
=======
        <th>Fecha
>>>>>>> 1ab265dad34a3bb8d267152898679fb11f03803b
        </th>
        <th>Aerolinea
        </th>
        <th>Informacion Conexion
        </th>
        <th>N° vuelo
        </th>
        <th>Asientos disponibles
        </th>
        <th>Capacidad
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
<<<<<<< HEAD
                @Html.DisplayFor(modelItem => item.AerolineaID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Conexiones.CiudadOrigen) -
                @Html.DisplayFor(modelItem => item.Conexiones.PaisOrigen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Conexiones.CiudadDestino) - 
                @Html.DisplayFor(modelItem => item.Conexiones.PaisDestino)
=======
                @Html.DisplayFor(modelItem => item.fecha.Day)/
                @Html.DisplayFor(modelItem => item.fecha.Month)/
                @Html.DisplayFor(modelItem => item.fecha.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Conexiones.Aerolineas.Nombre)
>>>>>>> 1ab265dad34a3bb8d267152898679fb11f03803b
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Conexiones.infoConexion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numeroVuelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.asientosDisponibles)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.capacidad)
            </td>
<<<<<<< HEAD
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.numeroVuelo }) |
            @Html.ActionLink("Details", "Details", new { id = item.numeroVuelo }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.numeroVuelo })
            </td>
=======
>>>>>>> 1ab265dad34a3bb8d267152898679fb11f03803b
        </tr>
    }

</table>

<form action="#" method="post">
    @Html.DropDownList("aero", "Seleccione aerolinea")
    <input class="btn btn-default" type="submit" name="btn" value="Filtrar por aerolinea" />
</form>
<br />
