@model IEnumerable<TF_Base.Models.Vuelos>

@{
    ViewBag.Title = "Index";
    Layout = "../_LayoutEmpleado.cshtml";
}

<h2>Lista de vuelos</h2>

<p>
    @if (Roles.IsUserInRole("EncargadoAerolinea"))
    {
        @Html.ActionLink("Agregar vuelo", "Create", null, new { @class = "btn btn-default" })
    }
</p>
<table class="table table-striped">
    <tr>
        <th>Aerolinea
        </th>
        <th>Lugar de origen
        </th>
        <th>Lugar de destino 
        </th>
        <th>N° vuelo - Conexion ID
        </th>
        <th>Fecha
        </th>
        <th>Asientos disponibles
        </th>
        <th>Capacidad
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AerolineaID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Conexiones.CiudadOrigen) -
                @Html.DisplayFor(modelItem => item.Conexiones.PaisOrigen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Conexiones.CiudadDestino) - 
                @Html.DisplayFor(modelItem => item.Conexiones.PaisDestino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numeroVuelo) -
                @Html.DisplayFor(modelItem => item.ConexionID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha.Day)/
                @Html.DisplayFor(modelItem => item.fecha.Month)/
                @Html.DisplayFor(modelItem => item.fecha.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.asientosDisponibles)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.capacidad)
            </td>
            <td>
                @if (Roles.IsUserInRole("EncargadoAerolinea"))
                {
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.numeroVuelo },new{@class="btn btn-danger"})
                }
            </td>
        </tr>
    }

</table>

<label>Filtrar por aerolinea</label>
<br />
<form action="#" method="post">
    @Html.DropDownList("aero", "Seleccione aerolinea")
    <input type="submit" name="btn" value="Buscar vuelos de la aerolinea" />
</form>
<br />
